-content_for "script" do
  :javascript
    $(function(){
      tutorialView = new PageView();
      tutorialView.render();
    })
    userForm = new NewUserForm();

.container_12
  #tutorial.grid_3 
    %h2 How to Play
    .page

  #game_board.grid_5 Game Board

  #sign_up.grid_4

    %h1 Play!

    = form_for @user, :remote => true do |f|
      = render 'partials/errors'

      #username.field
        = f.label :username
        = f.text_field :username, :size => 20
      #email.field
        = f.label :email
        = f.text_field :email, :size => 20
      #password.field
        = f.label :password
        = f.password_field :password, :size => 20
      .actions
        = f.submit 'Sign Me Up!'

    = link_to 'Back', users_path