-content_for "script" do
  :javascript
    $(function(){
      tutorialView = new PageView();
      tutorialView.render();
    })
    userForm = new NewUserForm();

%h2 How to Play

#tutorial.page

%h1 Play!

= form_for @user, :remote => true do |f|
  = render 'partials/errors'

  #username.field
    = f.label :username
    = f.text_field :username
  #email.field
    = f.label :email
    = f.text_field :email
  #password.field
    = f.label :password
    = f.password_field :password
  .actions
    = f.submit 'Sign Me Up!'

= link_to 'Back', users_path